---
# tasks file for httpd

- include_vars: "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
- include_tasks: "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
